<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Clear Forgot Password</title>
</head>
<body>
    <h1>Hi {{first_name}}</h1>  
    <p>Please click the link below to confirm your account</p>
    <a href="{{redirect_url}}/reset-password?token={{email_verify_code}}">Confirm Account</a>
</body>
</html>